* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main styling : HERE WE ADD THE VALUES TO THE ELEMENTS OF OUR PAGE THE WAY WE WANT */


html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background-color: rgba(223, 215, 215, 0.966);
  }
  
  
  a {
      color: #333;
      text-decoration: none;
  }
  
  h1, h2, h3 {
      padding-bottom: 20px;
  }
  
  
  p {
      margin: 10px 0;
  }
  
/* NAVBAR SECTION */






/* LOGO SECTION */

.logo img {
    text-align: center;
    width: 20%;
    min-height: 20%;
    
}


/* SKILLS SECTION */

.button {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgb(15, 177, 241);
    transition: .2s;
    transform: translate(0, 0) rotate(0) skew(0);
    transition: .2s;
    margin: 0 auto;
}
.button:hover {
  transform: translate(-15px, -5px) rotate(-15deg) skew(-10deg);
}

i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 10;
  transition: .2s;
}

.button:hover i {
    color: white;
}
.button span {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  transition: .2s;
  transform: translate(0, 0);
}

.button span:nth-of-type(4) {
    transform:  translate(-4px, -4px);
    transition: .2s;
    z-index: 0;
    opacity: .5;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.button:hover span:nth-last-of-type(1) {
    transform: translate(8px, 4px);
    background-color: rgb(15, 177, 241);
}

.button:hover span:nth-last-of-type(2) {
    transform: translate(16px, 8px);
    background-color: rgb(15, 177, 241);
}

.button:hover span:nth-last-of-type(3) {
    transform: translate(24px, 12px);
    background-color: rgb(15, 177, 241);
}



